
.LinearPurpose{
    margin-bottom: 40px;
}

.contain{
    display: flex;
    flex-direction: row;
}

.slope{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.description{
    margin-right: 5%
}

.linearPurposeMan{
    max-width: 40%;
    height: 600;
    width: 600;
}

@media only screen and (max-width: 900px) {
    .linearPurposeMan{
        display: none;
    }
}