.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FBFBFB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: #95CF67;
}
.introHeader {
  background-color: #95CF67;
  color: white;
  font-size: calc(30px + 4vmin);
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  padding: 2vmin;
  top: 0;
  width: 100%;
}
.App-link {
  color: #61dafb;
}