.App-header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 5vmin);
  margin: 5vmin;
  color: #95CF67;
}