.Nav {
  position: fixed;
  height: 70%;
  width: 100%;
}

.steps {
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .Nav{
    display:none;
  }
}